{% extends 'Base/base.html' %}
{% block title %} Update Hobby {% endblock %}
{% block content %} 
<h1>Update Hobby</h1>
<form action="{{ url_for('update', id=hobby.id) }}" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" type="text" name="name" id="name" value="{{ hobby.name }}" required>
    </div>
    <div class="form-group">
        <label for="hobby">Hobby:</label>
        <input class="form-control" type="text" name="hobby" id="hobby" value="{{ hobby.hobby }}" required>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Save">
    </div>
</form>
<br>
<a class="btn btn-primary" href="{{ url_for('home') }}">Back</a>
{% endblock %}
